
.vscode/
bin/
obj/
venv/
.cache/
.vs/

build/

*.layout
*.depend

tools/merger/out/

tools/doc/out/

tools/doc/sfw.h
tools/doc/sfw.cpp
tools/doc/sfwl.h
tools/doc/sfwl.cpp

# These are tmeporary:
libs/
*.bmp

compile_commands.json

*.o

game
game.exe

