
.vscode/
bin/
obj/
venv/
.cache/
.vs/

build/

*.layout
*.depend

.DS_Store

tools/merger/out/
tools/doc/out/
tools/release/out/

tools/doc/sfw.h
tools/doc/sfw.cpp
tools/doc/sfwl.h
tools/doc/sfwl.cpp

# These are tmeporary:
libs/
*.bmp

compile_commands.json

*.o
*.obj

game
game.exe
game-vc.*
vc140.pdb
sfwl_app

